.bhdLno {
  max-width: 670px !important;
  max-height: 670px !important;
}

.roulette-layout {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media (max-width: 800px) {
  .roulette-layout {
    flex-direction: column;
  }
}
